/* css font import link  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

/* header start  */
header{
    width: 100%;
    height: auto;
    color: rgb(29, 11, 11);
    padding: 10px;
    
}


/* main product css  start */

main{
    margin-top: 100px;    
}
.main_Product{
    display: flex;
    justify-content: center;
    align-items: center;

}
.product_Details{
    
    width: 582px;
    height: 270px;
    margin: 10px;
    line-height: 2em;
    padding: 10px;
}
h1{
    font-family: Poppins;
}
.font-big{
    font-size: 3.1em;
    line-height: 1.3em;
}
.main_Camera{
    width: 440px;
    height: 414px;
  
    border-radius: 5px solid black;
}
.preoder_now{
    background-color: #fa5592;
    border-radius: 5px solid red;
}
 .btn{
     width: 196px;
     height: 44px;
     background-color: #f15d94;
     border-radius: 5px solid red;
     padding: 5px;
     text-decoration: none;
     opacity: 0.6;
     transition: 0.2s;

 }
 .btn:hover {opacity: 1}
 .right_Icon{
     width: 30px;
     height: 30px;
     margin-top: 10px;
 }
.product_Image{
    transition: all .2s ease-in-out;
}
.product_Image:hover { transform: scale(1.2)}

  /* company logo css  */
  .wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      border:1px solid darkorange;
      width:1110px;
      height: 110px;
      margin: auto;
      margin-top: 100px;

  }

  /* product item and popular collection  */
  .product-list{
      margin-top: 100px;
      font-family: Poppins;
  }
   
  .products-item{
      display: grid;
      grid-template-columns: repeat(3,1fr) ;
      grid-gap: 30px;
  }

  .product-details .product-item .products-image img{
      width: 330px;
      height: 256px;
  }
.font-small{
    font-size: 1.5em;
}
.font-medium{
    font-size: 1.70em;
}
.product-title{
    margin-top: 16x;
    
}
.fa-star.filled{
    color: orange;
}
.fa-star{
    font-size: 16px;
}
.ratting-product{
    display: flex;
    align-items: center;
}
.star-rating{
    margin-right: 8px;
}
.para-clr{
    color: #5E6366;
}
/* feature  details star start */
.feature-especial{
     margin-top: 100px;
     

}
.feature-details{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.feature-img{
    width: 404px;
    height: 270px;
}
.feature-imgae{
    margin-right: 96px;
    margin-left: 165px;
}
.feature-info{
    font-family:Poppins ;
    width: 610px;
    height: 224px;

}

/* footer part start  */
footer{
    width: 100%;
    height: 239px;
    background-color: black;
    color: #fff;
    margin-top: 100px;
    padding-top: 40px;
}
.footer-box{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 text-align: center;
}
.social_icon{
    
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    width: 176px;
    height: 32px;
    
    
    
}
.social{
    font-size: 32px;
    margin-right: 16px;
    color: #fff;
    opacity: 0.6;
    transition: 0.2s;
}

.social:hover {opacity: 1}

/* media queries start   */

/* mobile device   */
 /* top main product media scren start  */
@media only screen and (max-width:576px){

    .top-mainproduct{
        width: 100%;
    }
    .main_Product, .feature-details{
        
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }
}

 /* product item media scree  */

@media only screen and (max-width:576px){


    .products-item{
        
        grid-template-columns: repeat(1, 1fr);
    }
}

@media only screen and (max-width:576px){


    .footer-box{
        
        grid-template-columns: repeat(1, 1fr);
    }
}
/* tablet device media quries start */
@media only screen and (max-width:576px){

    .top-mainproduct{
        width: 100%;
    }
    .main_Product, .feature-details{
        
        grid-template-columns: repeat(1, 1fr);
        flex-direction: column;
    }
}

 /* product item media scree  */

@media only screen and (max-width:768px){


    .products-item{
        
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width:768px){


    .footer-box{
        
        grid-template-columns: repeat(1, 2fr);
    }
}
