/* css font import link  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

/* main product css  start */
main{
    margin: auto;
}
.main_Product{
    display: flex;
    justify-content: center;
    align-items: center;

}
.product_Details{
    
    width: 582px;
    height: 270px;
    margin: 10px;
    line-height: 2em;
    padding: 10px;
}
h1{
    font-family: Poppins;
}
.main_Camera{
    width: 440px;
    height: 414px;
  
    border-radius: 5px solid black;
}
.preoder_now{
    background-color: #fa5592;
    border-radius: 5px solid red;
}
 .btn{
     width: 196px;
     height: 44px;
     background-color: #f15d94;
     border-radius: 5px solid red;
     padding: 5px;
     text-decoration: none;

 }
 .right_Icon{
     width: 30px;
     height: 30px;
     margin-top: 10px;
 }

  /* company logo css  */
  .wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      border:1px solid darkorange;
      width:1110px;
      height: 110px;
      margin: auto;
      margin-top: 100px;

  }

  /* product item and popular collection  */
  .populer-item{
      margin-top: 100px;
  }
.product-item{
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #2196F3;
    padding: 10px;
}
.product-card{
    background-color: darkgray;
    border: 1px solid red;
    padding: 10px;
    font-size: 1.5em;
    text-align: center;
}
h2{
    text-align: center;
}