/* css font import link  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

/* main product css  start */
main{
    margin: auto;
    justify-content: center;
    
}
.main_Product{
    display: flex;
    justify-content: center;
    align-items: center;

}
.product_Details{
    
    width: 582px;
    height: 270px;
    margin: 10px;
    line-height: 2em;
    padding: 10px;
}
h1{
    font-family: Poppins;
}
.main_Camera{
    width: 440px;
    height: 414px;
  
    border-radius: 5px solid black;
}
.preoder_now{
    background-color: #fa5592;
    border-radius: 5px solid red;
}
 .btn{
     width: 196px;
     height: 44px;
     background-color: #f15d94;
     border-radius: 5px solid red;
     padding: 5px;
     text-decoration: none;

 }
 .right_Icon{
     width: 30px;
     height: 30px;
     margin-top: 10px;
 }

 /* main section css media queries start */



  /* company logo css  */
  .wrapper{
      display: flex;
      justify-content: center;
      align-items: center;
      border:1px solid darkorange;
      width:1110px;
      height: 110px;
      margin: auto;
      margin-top: 100px;

  }

  /* product item and popular collection  */
  .product-list{
      margin-top: 100px;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    border: 1px solid black;
    margin: auto;
    padding: 10px;
    margin-left: auto;
}

.product-details{
    width: 329px;
    height: 476px;
    background-color: rgba(99, 86, 86, 0.979);
    display: grid;
    grid-template-columns: repeat (1,1fr);
    
    
}
.products-image{
    width: 300px;
    height: 256px;

}
/* feature  details star start */
.feature-especial{
    margin-top: 100px;
    margin: 10px;
}
.feature-details{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.feature-img{
    width: 404px;
    height: 270px;
}
.feature-imgae{
    margin-right: 96px;
    margin-left: 165px;
}
.feature-info{
    font-family:Poppins ;
    width: 610px;
    height: 224px;

}

/* footer part start  */
footer{
    width: 100%;
    height: 239px;
    background-color: black;
    color: #fff;
}
.footer-box{
    margin: auto;
}